In [1]:
import pandas as pd
import numpy as np

In [2]:
URL = "http://s-cube-network.eu/c2k-files/c2k_data_comma.csv"

In [3]:
data = pd.read_csv(URL, na_values='?')

In [4]:
tabla = []

for i, fila in data.iterrows():
    for leg in ['i1','i2','i3', 'o']:
        
        if np.isnan(fila[leg + '_legid']):
            continue
        
        for service in ['rcs','dep','rcf','dlv']:
            
            if service =='rcs':
                posiciones = ['0']
            elif service =='dep':
                posiciones = ['1','2','3']
            elif service == 'rcf':
                posiciones = ['1','2','3']
            elif service =='dlv':
                posiciones = ['0']
            
            for pos in posiciones:
                if service == 'rcs' :
                    service_pos = service
                    origin_service_pos = 'dep_1' 
                    destin_service_pos = 'dep_1'
                    
                elif service == 'dlv':
                    service_pos = service
                    origin_service_pos = 'rcf_' + ult_pos
                    destin_service_pos = 'rcf_' + ult_pos
                    
                else:
                    service_pos = service + '_' + pos
                    origin_service_pos = 'dep_' + pos 
                    destin_service_pos = 'rcf_' + pos
                
                if np.isnan(fila[leg + '_' + service_pos + '_p']):
                    continue                    
                            
                nueva_fila = {}
                nueva_fila['process_id']     = str(int(fila.nr))
                nueva_fila['transport_id']   = str(int(fila[leg + '_legid']))
                nueva_fila['transport_oper'] = 'outgoing' if leg == 'o' else 'incoming'
                nueva_fila['service_type']   = service
                nueva_fila['service_pos']    = pos
                nueva_fila['origin_place']   = str(int(fila[leg + '_' + origin_service_pos + '_place']))
                nueva_fila['destin_place']   = str(int(fila[leg + '_' + destin_service_pos + '_place']))
                nueva_fila['planned_time']   = fila[leg + '_' + service_pos + '_p']
                nueva_fila['effective_time'] = fila[leg + '_' + service_pos + '_e']
                
                tabla.append(nueva_fila)
                
                ult_pos = pos

In [5]:
df = pd.DataFrame(tabla)

In [6]:
df.head()

,destin_place,effective_time,origin_place,planned_time,process_id,service_pos,service_type,transport_id,transport_oper
0,609,218.0,609,199.0,0,0,rcs,5182,incoming
1,256,215.0,609,210.0,0,1,dep,5182,incoming
2,256,736.0,609,935.0,0,1,rcf,5182,incoming
3,256,1539.0,256,840.0,0,0,dlv,5182,incoming
4,431,2880.0,431,3315.0,0,0,rcs,573,incoming

In [7]:
df.to_csv('data_c2k.csv', index=False)